<div class="container">
    <div class="row">
        <div class="mx-auto col11 col-sm-10 col-lg-8 col-xl-6">
            <h1>Welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong>!!</h1>
            <p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p>
            <p>you can share and exchange your opinions , inpressions , and emotions</p>
            <p>about various books!</p>
            <div class="btn-wrapper col-10 mx-auto ">
                <div class="row">
                    <%= link_to(new_user_session_path,class: "btn btn-block btn-info btn-sm mb-3") do %>
                        <%= "Log in" %>
                    <% end %><br>
                    <%= link_to(new_user_registration_path, class: "btn btn-block btn-success btn-sm mb-3") do %>
                        <%= "Sign up" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


